# Exclude everything
*

# Allow app folder
!poetry.lock
!pyproject.toml
!README.md
!src
!conf

# Only needed for local SQLite DB
!database

# ignore potentially sensitive credentials files
conf/**/*credentials*

# Exclude files again
.DS_Store
.AppleDouble
.LSOverride
__pycache__/
*.py[cod]
*$py.class
